.uppy-Dashboard-dropFilesTitle {
  span {
    font-size: 20px;
  }
}

.drag-drop-area {
  width: 100%;
}

.uppy-Dashboard-inner {
  width: 100% !important;
}

.uppy-DashboardItem-preview {
  height: 50px !important;
}

.uppy-DashboardItem {
  height: 100px !important;
}
