.text-center = t('application.footer', copyright_holder: link_to(t('application.copyright_holder'), t('application.copyright_url')), version: PrintingSolutionsV2::VERSION, year: Date.today.year).html_safe
